.btn {
    display: inline-block;
    padding: 1rem 1rem;
    line-height: 1;
    border-radius: 10px;
    text-align: center;
    background: #017ef4;
    color: #fff;
    text-shadow: none;
    font-weight: 600;
    margin: 1.5rem 0;
    width: 100%;
    transform: scaleX(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.02);
        background: #0067c8;
    }
}
