.hero {
    background: $cream;

    &-top {

    }

    &-content {

        &--heading {

        }

    }

    &-video {

        &--placeholder {

        }

        &--play {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-bottom {

        &-heading {
            font-size: 0.8rem;
            margin: 0 auto;
            letter-spacing: 0.1rem;
            color: $grey;
            font-family: $title-font-family;
            font-weight: 500;
            opacity: 0.6;
        }

        &-logos {

            &__item {
                margin: 0.5rem;
            }
        }
    }
}

.tracking {
    overflow: visible;

    &-content {

        &--sub {
            @extend .hero-bottom-heading;
            margin-bottom: 1rem;
            font-weight: 500;
            opacity: 1;
        }
    }

    &-img {

        &--bg {
            z-index: -1;
            width: 85vw;
            height: 85vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.2;
        }

        &--btn {
            @extend .hero-video--play;
        }
    }
}

.support {

    &-content {

        &--sub {
            @extend .tracking-content--sub;
        }
    }

    &-img {

        &--bg {
            @extend .tracking-img--bg;
        }

        &--btn {
            @extend .hero-video--play;
        }
    }
}

.workflows {

    &-content {

        &--sub {
            @extend .tracking-content--sub;
        }
    }

    &-img {

        &--bg {
            @extend .tracking-img--bg;
        }

        &--btn {
            @extend .hero-video--play;
        }
    }
}

.production {

    &-content {

        &--sub {
            @extend .tracking-content--sub;
        }
    }

    &-img {

        &--bg {
            @extend .tracking-img--bg;
        }

        &--btn {
            @extend .hero-video--play;
        }
    }
}

.reports {

    &-content {

        &--sub {
            @extend .tracking-content--sub;
        }
    }

    &-img {

        &--bg {
            @extend .tracking-img--bg;
        }

        &--btn {
            @extend .hero-video--play;
        }
    }
}

.testimonial {
    background: $cream;

    &-heading {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: $base-font-family;
    }

    &-img {

    }

    &-content {
        color: $grey;

        p {
            font-size: 1rem;
        }

        footer {
            font-weight: 600;
        }

        &-name {

        }

        &-position {

        }
    }
}

.integrations {

    &-icon {

    }

    &-heading {
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    &-brand {
        max-width: 100%;
    }
}

.cta {

    &-heading {
        font-size: 2.3rem;
        font-weight: 500;
    }

    &-arrow {

    }
}
