.footer {
    //lighter color
    background: $cream;
    color: $grey;

    &-brand {
        @include wi-mq(desk) {
            max-width: 35%;
        }

        &-links {

            &--item {
                filter: brightness(70%);
            }
        }
    }

    &-links {
        @include wi-mq(desk) {
            width: 55%;
        }

        &-col {

        }

        &-list {
            margin: 1.5rem 1rem;

            &--heading {

                h3 {
                    @extend .tracking-content--sub;
                }
            }

            &-item {
                font-size: 0.8rem;
                line-height: 1.5;
                margin-bottom: 0.7rem;
                opacity: 0.7;
                transition: opacity .3s ease-in-out;
                font-family: $title-font-family;

                &:hover {
                    opacity: 1;
                    text-decoration: underline;
                }
            }
        }
    }

    &-rights {

        p {
            font-size: 0.9rem;
            line-height: 1.5;
        }

    }
}
