.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    background: white;
    //overflow: hidden;

    //&.active {
    //    //background: $base-color;
    //    height: 100vh;
    //    overflow-y: scroll;
    //}
}

.site-logo {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 0;

    @include wi-mq(desk) {
        padding: 1rem 1rem 1rem 0;
    }

    svg {
        width: 140px;
        height: 30px;

        @include wi-mq(desk) {
            width: 200px;
            height: 45px;
        }
    }
}

.mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: 0;
    padding: 1rem 0;
    color: $green;

    @include wi-mq(desk) {
        display: none;
    }

    &:hover, &:focus {
        cursor: pointer;
    }

    &__icon {
        fill: $green;

        &--close {
            display: none;
        }
    }

    &.active {

        .mobile-btn__icon--open {
            display: none;
        }

        .mobile-btn__icon--close {
            display: block;
        }
    }
}
