.nav {
    //display: none;
    //offset container padding
    margin: 1.5rem 0 1.5rem -2.5rem;
    padding-left: 1.5rem;
    position: absolute;
    overflow-x: scroll;
    //background: $green;
    max-width: 65%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;

    @include wi-mq(thumb) {
        padding-top: 1rem;
        margin-top: 89px;
        max-width: 15rem;
    }

    @include wi-mq(desk) {
        //display: block;
        position: static;
        overflow: visible;
        margin: 0;
        padding-top: 0;
        background: 0;
        max-width: 100%;
        height: 100%;
        width: auto;
        transform: translateX(0);
    }

    &.active {
        //display: block;
        transform: translateX(0%);
    }

    &-cta {

        &--item {
            padding: 0.5rem;
            font-weight: 400;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            @include wi-mq(lap) {
                width: auto;
                padding: 0;
            }

            &.active {

                .child-nav {
                    display: block;
                }
            }

            &:hover {

                .child-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:focus-within {

                .child-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: .25rem 0;
            font-family: $title-font-family;
            font-size: 1rem;
            //color: #fdfdfd;
            //font-family: $bold-font-family;
            transition: color .3s ease-in-out;
            opacity: 0.8;

            &--children {
                width: calc(100% - (50px + 1.5rem));
            }

            .nav-list__icon {
                display: none;
                margin: 0 0 0 .3rem;
                transition: color .3s ease-in-out;

                @include wi-mq(desk) {
                    display: block;
                    //color: #fdfdfd;
                    font-size: 1.3rem;
                }
            }

            &--current {
                //color: $primary;

                .nav-list__icon {
                    //color: $primary;
                }
            }

            &--disabled {

                &:hover, &:focus {
                    cursor: default;
                }
            }

            @include wi-mq(desk) {
                width: 100%;
                padding: 2rem .75rem;
            }
            // widescreen?
            @include wi-mq(desk) {
                //padding: 2.75rem 1rem;
            }

            &:hover, &:focus {

                @include wi-mq(desk) {
                    //color: $primary;

                    .nav-list__icon {
                        //color: $primary;
                    }
                }
            }

            &--cta {

                @include wi-mq(desk) {
                    padding: .75rem 1.5rem;
                    //border: 2px solid $primary;
                    //border-radius: $border-radius;
                    margin: 0 0 0 1rem;
                }

                &:hover, &:focus {

                    @include wi-mq(desk) {
                        //background: $secondary;
                        //border: 2px solid $secondary;
                        color: #fdfdfd;
                    }
                }
            }

            &:hover, &:focus {

                ~ .child-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__icon {
            display: inline-block;
        }
    }

    &-btn {
        display: block;
        color: $green;

        @include wi-mq(desk) {
            display: none;
        }
    }
}

.child-nav {
    //display: none;
    width: 100%;
    //padding: 0 0 0 1.5rem;
    z-index: 2;

    //&:before {
    //    content: '';
    //    display: none;
    //    height: 30px;
    //    width: 30px;
    //    transform: rotate(45deg);
    //    position: absolute;
    //    left: 25px;
    //    top: -10px;
    //    background: $green;
    //    border-radius: 5px;
    //
    //    @include wi-mq(desk) {
    //        display: block;
    //    }
    //}

    @include wi-mq(desk) {
        display: block;
        width: 400px;
        padding: 0;
        position: absolute;
        top: 100%;
        //left: 1.5rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
    }

    &-list {
        position: relative;
        z-index: 1;
        background: white;
        overflow: hidden;
        padding: 1rem 0;

        @include wi-mq(lap) {
            //border-radius: $border-radius;
            //background: $secondary;
        }

        &__link {
            display: block;
            //font-family: $bold-font-family;
            //color: #fdfdfd;
            padding: .5rem 0;
            //font-size: .9rem;
            font-size: 1rem;
            font-weight: 700;
            transform: scale(1);
            transition: all .2s ease-in-out;

            @include wi-mq(desk) {
                padding: .5rem 1.5rem;
                font-size: 1.2rem;
            }

            &:hover, &:focus {
                transform: scale(1.03);

                @include wi-mq(desk) {
                    //color: $primary;
                }
            }
        }
    }

    &-sub {
        font-family: $title-font-family;
        font-weight: 400;
        color: $grey;
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
}
